Repository Python-AI-Solutions/pythonaisolutions_website: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

prettier:
  name: prettier
  entry: npx prettier --write --ignore-unknown
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: npx eslint --fix
  language: system
  pass_filenames: true

typescript:
  name: TypeScript type checking
  entry: bash -c 'npm run typecheck'
  language: system
  pass_filenames: false

debugging unit test
  src/app/about/page.tsx
  src/data/team-resumes.ts
  tests/integration/server-startup.test.ts
Due: prettier, eslint, typescript

deploy: cce1ea02fa350a9f3fa5aa6902e7e071bcea5105
  pr-preview/pr-21/404.html
  pr-preview/pr-21/404/index.html
  pr-preview/pr-21/_next/static/2vuGjF233PHpulPoVwrRr/_buildManifest.js
  pr-preview/pr-21/_next/static/2vuGjF233PHpulPoVwrRr/_ssgManifest.js
  pr-preview/pr-21/_next/static/chunks/app/about/page-043ea8a3a5f93812.js
  pr-preview/pr-21/about/index.html
  pr-preview/pr-21/about/index.txt
  pr-preview/pr-21/clientele/index.html
  pr-preview/pr-21/clientele/index.txt
  pr-preview/pr-21/contact/index.html
  pr-preview/pr-21/contact/index.txt
  pr-preview/pr-21/index.html
  pr-preview/pr-21/index.txt
  pr-preview/pr-21/services/index.html
  pr-preview/pr-21/services/index.txt
  pr-preview/pr-21/testimonial/index.html
  pr-preview/pr-21/testimonial/index.txt
Due: prettier, eslint

fixed tests
  tests/integration/server-startup.test.ts
Due: prettier, eslint, typescript

deploy: d1b3454d37f5e47f4e278b52faa341cdd94d110c
  pr-preview/pr-21/404.html
  pr-preview/pr-21/404/index.html
  pr-preview/pr-21/_next/static/lvUBFXWta61mvo0af-jP-/_buildManifest.js
  pr-preview/pr-21/_next/static/lvUBFXWta61mvo0af-jP-/_ssgManifest.js
  pr-preview/pr-21/about/index.html
  pr-preview/pr-21/about/index.txt
  pr-preview/pr-21/clientele/index.html
  pr-preview/pr-21/clientele/index.txt
  pr-preview/pr-21/contact/index.html
  pr-preview/pr-21/contact/index.txt
  pr-preview/pr-21/index.html
  pr-preview/pr-21/index.txt
  pr-preview/pr-21/services/index.html
  pr-preview/pr-21/services/index.txt
  pr-preview/pr-21/testimonial/index.html
  pr-preview/pr-21/testimonial/index.txt
Due: prettier, eslint

test fixes (#21)
  src/app/about/page.tsx
  src/app/testimonial/page.tsx
  src/data/team-resumes.ts
  tests/e2e/clientele.spec.ts
  tests/integration/server-startup.test.ts
Due: prettier, eslint, typescript

switch to cloudflare
  .github/workflows/deploy.yml
Due: prettier

lazy load images
  src/app/services/page.tsx
Due: prettier, eslint, typescript

updated team
  jest.setup.js
  package.json
  src/app/about/page.tsx
  src/data/team-resumes.ts
Due: prettier, eslint, typescript

Fix CI failures: remove platform-specific dependency
  package.json
Due: prettier

fixing preview-functionality
  next.config.mjs
Due: none

Fix PR preview 404: correct basePath configuration
  .github/workflows/preview.yml
  next.config.mjs
Due: prettier

deploy: b60e12c50b4ba16b3fc59c8129263bae3ab84678
  pr-preview/pr-23/404.html
  pr-preview/pr-23/404/index.html
  pr-preview/pr-23/_next/static/chunks/117-2195ab9ba6bbfae1.js
  pr-preview/pr-23/_next/static/chunks/117-2613a6a581dd3b3e.js
  pr-preview/pr-23/_next/static/chunks/880-21970b139c4db424.js
  pr-preview/pr-23/_next/static/chunks/app/clientele/page-7a6baf6b97f3ce38.js
  pr-preview/pr-23/_next/static/chunks/app/clientele/page-a976d36e9571d984.js
  pr-preview/pr-23/_next/static/chunks/app/page-4f06e0b4c4b16cd8.js
  pr-preview/pr-23/_next/static/chunks/app/page-56bf3a34f209ff39.js
  pr-preview/pr-23/_next/static/chunks/main-77210f1f6defef60.js
  pr-preview/pr-23/_next/static/chunks/main-79af69b3787d5a2f.js
  pr-preview/pr-23/_next/static/chunks/webpack-1b9981d45fd50093.js
  pr-preview/pr-23/_next/static/chunks/webpack-93e4ea7808dc7fac.js
  pr-preview/pr-23/_next/static/css/2b9af4d2fd2812f1.css
  pr-preview/pr-23/_next/static/qptOBu4fpt4CjelS-MBQC/_buildManifest.js
  pr-preview/pr-23/_next/static/qptOBu4fpt4CjelS-MBQC/_ssgManifest.js
  pr-preview/pr-23/about/index.html
  pr-preview/pr-23/about/index.txt
  pr-preview/pr-23/clientele/index.html
  pr-preview/pr-23/clientele/index.txt
  pr-preview/pr-23/contact/index.html
  pr-preview/pr-23/contact/index.txt
  pr-preview/pr-23/index.html
  pr-preview/pr-23/index.txt
  pr-preview/pr-23/services/index.html
  pr-preview/pr-23/services/index.txt
  pr-preview/pr-23/testimonial/index.html
  pr-preview/pr-23/testimonial/index.txt
Due: prettier, eslint

correct GitHub Pages deployment strategy
  .github/workflows/preview.yml
Due: prettier

leverage GitHub Pages custom domain redirect
  .github/workflows/preview.yml
Due: prettier

deploy: 97cc10d7b71adeb72d97a06b7b5bcbe720c6d4e7
  404.html
  404/index.html
  _next/static/W7rEUIp5WTniSBEfnEIvn/_buildManifest.js
  _next/static/W7rEUIp5WTniSBEfnEIvn/_ssgManifest.js
  _next/static/chunks/117-2195ab9ba6bbfae1.js
  _next/static/chunks/117-2613a6a581dd3b3e.js
  _next/static/chunks/880-21970b139c4db424.js
  _next/static/chunks/app/clientele/page-7a6baf6b97f3ce38.js
  _next/static/chunks/app/clientele/page-a976d36e9571d984.js
  _next/static/chunks/app/page-4f06e0b4c4b16cd8.js
  _next/static/chunks/app/page-56bf3a34f209ff39.js
  _next/static/chunks/main-77210f1f6defef60.js
  _next/static/chunks/main-79af69b3787d5a2f.js
  _next/static/chunks/webpack-1b9981d45fd50093.js
  _next/static/chunks/webpack-93e4ea7808dc7fac.js
  _next/static/css/2b9af4d2fd2812f1.css
  about/index.html
  about/index.txt
  clientele/index.html
  clientele/index.txt
  contact/index.html
  contact/index.txt
  index.html
  index.txt
  services/index.html
  services/index.txt
  testimonial/index.html
  testimonial/index.txt
Due: prettier, eslint

deploy to subdirectory matching basePath
  .github/workflows/preview.yml
Due: prettier

- Remove broken GitHub Pages preview workflow - Add PR comments with Cloudflare preview URLs - Simplify deployment to single platform
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  preview-functionality-implementation.md
Due: prettier

fix: Remove Unnecessary file
  preview-functionality-implementation.md
Due: prettier

test: Add temporary banner to test preview functionality
  .github/workflows/deploy.yml
  src/app/page.tsx
Due: prettier, eslint, typescript

Revert "test: Add temporary banner to test preview functionality"
  .github/workflows/deploy.yml
  src/app/page.tsx
Due: prettier, eslint, typescript

fix preview-functionality (#23)
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  next.config.mjs
Due: prettier

Add Peter Kidney and Dr. Claire Murphy to team resumes modal
  src/app/about/page.tsx
  src/data/team-resumes.ts
Due: prettier, eslint, typescript

Add Peter Kidney and Dr. Claire Murphy to Leadership section
  src/app/about/page.tsx
Due: prettier, eslint, typescript

Update John Lee's bio and add LinkedIn URL in Leadership section
  src/app/about/page.tsx
Due: prettier, eslint, typescript

Update About Us section
  src/app/about/page.tsx
Due: prettier, eslint, typescript

Update About Us section (#24)
  src/app/about/page.tsx
  src/data/team-resumes.ts
Due: prettier, eslint, typescript

Fix ESLint errors: escape apostrophes in JSX
  src/app/portfolio/[projectId]/page.tsx
  src/app/portfolio/page.tsx
Due: prettier, eslint, typescript

added details on Evaluation Exploration project
  src/app/portfolio/page.tsx
  src/data/projects.ts
Due: prettier, eslint, typescript

added details on archive details project
  src/app/portfolio/page.tsx
  src/data/projects.ts
Due: prettier, eslint, typescript

added images to projects
  public/portfolio/archive-flow.png
  public/portfolio/evaluation-exploration.png
  src/app/portfolio/page.tsx
  src/data/projects.ts
Due: prettier, eslint, typescript

updated no-strings resume project content
  src/app/portfolio/page.tsx
  src/data/projects.ts
Due: prettier, eslint, typescript

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|json|md|mdx|yaml|yml)$, but not: ^(\.next/|out/|build/|node_modules/|package-lock\.json)
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: ^(\.next/|out/|build/|node_modules/)
  typescript: any of: \.(ts|tsx)$
