Repository Python-AI-Solutions/pythonaisolutions_website: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

prettier:
  name: prettier
  entry: npx prettier --write --ignore-unknown
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: npx eslint --fix
  language: system
  pass_filenames: true

typescript:
  name: TypeScript type checking
  entry: bash -c 'npm run typecheck'
  language: system
  pass_filenames: false

Clarify development tooling setup
  .npmrc
  CLAUDE.md
  README.md
  pixi.toml
Due: prettier

Update CI workflows for npm-based development
  .github/workflows/ci.yml
  .github/workflows/main-ci.yml
  .github/workflows/test.yml
Due: prettier

Add PR preview deployment workflow
  .github/workflows/preview.yml
  vercel.json
Due: prettier

Fix CI build issues and remove Vercel
  .github/workflows/preview.yml
  package.json
  vercel.json
Due: prettier

Fix CI test coverage thresholds
  jest.config.js
Due: prettier, eslint

fix action versions
  .github/workflows/ci.yml
  .github/workflows/main-ci.yml
  .github/workflows/test.yml
Due: prettier

Fixing build failures
  src/app/about/page.tsx
  src/data/team-resumes.ts
Due: prettier, eslint, typescript

Fix TypeScript and CI issues
  src/types/images.d.ts
Due: prettier, eslint, typescript

fix images and content
  .github/workflows/main-ci.yml
  .github/workflows/preview.yml
  .gitignore
  package.json
  public/John-Lee.webp
  public/Sumit_Jha.png
  public/Sumit_Jha.webp
  public/john lee.jpg
  scripts/convert-to-webp.py
  scripts/copy-submodule-assets.js
  scripts/optimize-large-images.py
  scripts/test-missing-image.js
  scripts/validate-team-images.js
  src/app/about/page.tsx
  src/app/page.tsx
  src/data/team-resumes.ts
Due: prettier, eslint, typescript

fix: prevent testimonial form from clearing when opening email client
  src/app/testimonial/page.tsx
Due: prettier, eslint, typescript

fix: resolve copy to clipboard button TypeError and functionality
  src/app/testimonial/page.tsx
Due: prettier, eslint, typescript

deploy: 60420d26f9fd6c937df560c2d3067c387069c8a8
  pr-preview/pr-19/404.html
  pr-preview/pr-19/404/index.html
  pr-preview/pr-19/_next/static/QxBWi0QiErMXsVN1clPNC/_buildManifest.js
  pr-preview/pr-19/_next/static/QxBWi0QiErMXsVN1clPNC/_ssgManifest.js
  pr-preview/pr-19/_next/static/chunks/app/about/page-0dab1cce6d6b5529.js
  pr-preview/pr-19/_next/static/chunks/app/about/page-549b48f48b1efa46.js
  pr-preview/pr-19/about/index.html
  pr-preview/pr-19/about/index.txt
  pr-preview/pr-19/clientele/index.html
  pr-preview/pr-19/clientele/index.txt
  pr-preview/pr-19/contact/index.html
  pr-preview/pr-19/contact/index.txt
  pr-preview/pr-19/index.html
  pr-preview/pr-19/index.txt
  pr-preview/pr-19/services/index.html
  pr-preview/pr-19/services/index.txt
  pr-preview/pr-19/testimonial/index.html
  pr-preview/pr-19/testimonial/index.txt
Due: prettier, eslint

deploy: 2525106fc33faac9f741e0dd59a0c7be6b50057f
  pr-preview/pr-19/404.html
  pr-preview/pr-19/404/index.html
  pr-preview/pr-19/_next/static/IP0hYk_zJ96cT4ZoMiIPR/_buildManifest.js
  pr-preview/pr-19/_next/static/IP0hYk_zJ96cT4ZoMiIPR/_ssgManifest.js
  pr-preview/pr-19/_next/static/chunks/app/about/page-0dab1cce6d6b5529.js
  pr-preview/pr-19/_next/static/chunks/app/about/page-51ff86ba61199609.js
  pr-preview/pr-19/about/index.html
  pr-preview/pr-19/about/index.txt
  pr-preview/pr-19/clientele/index.html
  pr-preview/pr-19/clientele/index.txt
  pr-preview/pr-19/contact/index.html
  pr-preview/pr-19/contact/index.txt
  pr-preview/pr-19/index.html
  pr-preview/pr-19/index.txt
  pr-preview/pr-19/services/index.html
  pr-preview/pr-19/services/index.txt
  pr-preview/pr-19/testimonial/index.html
  pr-preview/pr-19/testimonial/index.txt
Due: prettier, eslint

deploy: 0450f80a72e088f0a0d96391b272b1ea09372f00
  pr-preview/pr-19/404.html
  pr-preview/pr-19/404/index.html
  pr-preview/pr-19/_next/static/chunks/app/about/page-0fd815ad9b36b2a9.js
  pr-preview/pr-19/_next/static/chunks/app/about/page-51ff86ba61199609.js
  pr-preview/pr-19/_next/static/css/28a6c229ec5543e3.css
  pr-preview/pr-19/_next/static/css/ec900be8cb3823b3.css
  pr-preview/pr-19/_next/static/i0nY4PGveJW66jhlPojTc/_buildManifest.js
  pr-preview/pr-19/_next/static/i0nY4PGveJW66jhlPojTc/_ssgManifest.js
  pr-preview/pr-19/about/index.html
  pr-preview/pr-19/about/index.txt
  pr-preview/pr-19/clientele/index.html
  pr-preview/pr-19/clientele/index.txt
  pr-preview/pr-19/contact/index.html
  pr-preview/pr-19/contact/index.txt
  pr-preview/pr-19/index.html
  pr-preview/pr-19/index.txt
  pr-preview/pr-19/services/index.html
  pr-preview/pr-19/services/index.txt
  pr-preview/pr-19/testimonial/index.html
  pr-preview/pr-19/testimonial/index.txt
Due: prettier, eslint

deploy: 6b7a5e7c2aca29436e538ffb10e2384ff8651517
  pr-preview/pr-19/404.html
  pr-preview/pr-19/404/index.html
  pr-preview/pr-19/_next/static/ql923H_DJuvU1gy253AH-/_buildManifest.js
  pr-preview/pr-19/_next/static/ql923H_DJuvU1gy253AH-/_ssgManifest.js
  pr-preview/pr-19/about/index.html
  pr-preview/pr-19/about/index.txt
  pr-preview/pr-19/clientele/index.html
  pr-preview/pr-19/clientele/index.txt
  pr-preview/pr-19/contact/index.html
  pr-preview/pr-19/contact/index.txt
  pr-preview/pr-19/index.html
  pr-preview/pr-19/index.txt
  pr-preview/pr-19/services/index.html
  pr-preview/pr-19/services/index.txt
  pr-preview/pr-19/testimonial/index.html
  pr-preview/pr-19/testimonial/index.txt
Due: prettier, eslint

deploy: 26618c5b8bd9cca393ed5fdc111915cff6f802ca
  pr-preview/pr-19/404.html
  pr-preview/pr-19/404/index.html
  pr-preview/pr-19/_next/static/l0hWMg4Ot8CmJlhKphMoA/_buildManifest.js
  pr-preview/pr-19/_next/static/l0hWMg4Ot8CmJlhKphMoA/_ssgManifest.js
  pr-preview/pr-19/about/index.html
  pr-preview/pr-19/about/index.txt
  pr-preview/pr-19/clientele/index.html
  pr-preview/pr-19/clientele/index.txt
  pr-preview/pr-19/contact/index.html
  pr-preview/pr-19/contact/index.txt
  pr-preview/pr-19/index.html
  pr-preview/pr-19/index.txt
  pr-preview/pr-19/services/index.html
  pr-preview/pr-19/services/index.txt
  pr-preview/pr-19/testimonial/index.html
  pr-preview/pr-19/testimonial/index.txt
Due: prettier, eslint

Refactor About Us section with enhanced resume functionality
  .github/workflows/ci.yml
  .github/workflows/main-ci.yml
  .github/workflows/test.yml
  .nvmrc
  package.json
  src/app/about/page.tsx
  src/app/page.tsx
  src/components/Footer.tsx
  src/components/NoStringsResume.tsx
  src/components/ResumeModal.tsx
  src/components/RootLayout.tsx
  src/data/team-resumes.ts
Due: prettier, eslint, typescript

deploy: cad0ab205da42e84ca1a3aeeae14b7796200eff7
  pr-preview/pr-19/404.html
  pr-preview/pr-19/404/index.html
  pr-preview/pr-19/_next/static/W4BHDSVXig3QuVCIydn55/_buildManifest.js
  pr-preview/pr-19/_next/static/W4BHDSVXig3QuVCIydn55/_ssgManifest.js
  pr-preview/pr-19/about/index.html
  pr-preview/pr-19/about/index.txt
  pr-preview/pr-19/clientele/index.html
  pr-preview/pr-19/clientele/index.txt
  pr-preview/pr-19/contact/index.html
  pr-preview/pr-19/contact/index.txt
  pr-preview/pr-19/index.html
  pr-preview/pr-19/index.txt
  pr-preview/pr-19/services/index.html
  pr-preview/pr-19/services/index.txt
  pr-preview/pr-19/testimonial/index.html
  pr-preview/pr-19/testimonial/index.txt
Due: prettier, eslint

fix: Update Playwright E2E tests to match actual homepage text
  tests/e2e/about.spec.ts
  tests/e2e/contact.spec.ts
  tests/e2e/home.spec.ts
Due: prettier, eslint, typescript

fixed & added more playwright tests to test complete front end functionality
  playwright.config.ts
  tests/e2e/404.spec.ts
  tests/e2e/about.spec.ts
  tests/e2e/clientele.spec.ts
  tests/e2e/contact.spec.ts
  tests/e2e/footer.spec.ts
  tests/e2e/home.spec.ts
  tests/e2e/mobile-menu.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/services.spec.ts
  tests/e2e/testimonial.spec.ts
Due: prettier, eslint, typescript

deploy: 36e89be34349a5f694d7b6ce1876d3ac37a3e715
  pr-preview/pr-19/404.html
  pr-preview/pr-19/404/index.html
  pr-preview/pr-19/_next/static/G-sQ3fp3OtQ5TOxuD1uAh/_buildManifest.js
  pr-preview/pr-19/_next/static/G-sQ3fp3OtQ5TOxuD1uAh/_ssgManifest.js
  pr-preview/pr-19/about/index.html
  pr-preview/pr-19/about/index.txt
  pr-preview/pr-19/clientele/index.html
  pr-preview/pr-19/clientele/index.txt
  pr-preview/pr-19/contact/index.html
  pr-preview/pr-19/contact/index.txt
  pr-preview/pr-19/index.html
  pr-preview/pr-19/index.txt
  pr-preview/pr-19/services/index.html
  pr-preview/pr-19/services/index.txt
  pr-preview/pr-19/testimonial/index.html
  pr-preview/pr-19/testimonial/index.txt
Due: prettier, eslint

temp
  src/app/page.tsx
  src/data/testimonials.ts
  tests/e2e/home.spec.ts
Due: prettier, eslint, typescript

tidy
  CLAUDE.md
  jest.config.js
  package.json
  src/app/page.tsx
  src/data/testimonials.ts
  src/images/clients/BioImaginix/logo-dark.svg
  src/images/clients/BioImaginix/logo-light.svg
  src/images/clients/BioImaginix/logo-light_org.svg
  src/images/clients/BioImaginix/logomark-dark.svg
  src/images/clients/BioImaginix/logomark-light.svg
  src/images/clients/Pytorch-Ignite/logo-dark.svg
  src/images/clients/Pytorch-Ignite/logo-light_org.svg
  src/images/clients/Pytorch-Ignite/logomark-dark.svg
  src/images/clients/Pytorch-Ignite/logomark-light.svg
  src/images/clients/cirun/logo-dark.svg
  src/images/clients/cirun/logo-light-orig.svg
  src/images/clients/cirun/logomark-dark.svg
  src/images/clients/cirun/logomark-light.svg
  src/images/clients/cmn/logo-dark.svg
  src/images/clients/cmn/logo-light_org.svg
  src/images/clients/cmn/logomark-dark.svg
  src/images/clients/cmn/logomark-light.svg
  src/images/clients/data-science-nimh/logo-dark.svg
  src/images/clients/data-science-nimh/logo-light_org.svg
  src/images/clients/data-science-nimh/logomark-dark.svg
  src/images/clients/data-science-nimh/logomark-light.svg
  src/images/clients/justice-innovation-lab/logo-dark.svg
  src/images/clients/justice-innovation-lab/logo-light-org.svg
  src/images/clients/justice-innovation-lab/logomark-dark.svg
  src/images/clients/justice-innovation-lab/logomark-light.svg
  src/images/clients/openteams/OT-Color-WithTagline-Horizontal-NoBackground-1.webp
  src/images/clients/sustech/logo-dark.svg
  src/images/clients/sustech/logo-light-org.svg
  src/images/clients/sustech/logomark-dark.svg
  src/images/clients/sustech/logomark-light.svg
  tests/integration/server-startup.test.ts
  tests/unit/components/ImageProps.test.tsx
  tests/unit/components/TestimonialModal.test.tsx
  tests/unit/data/testimonials.test.ts
Due: prettier, eslint, typescript

fixup
  tests/integration/server-startup.test.ts
  tests/unit/components/TestimonialModal.test.tsx
Due: prettier, eslint, typescript

Fix logo distortion and improve responsive display
  src/app/page.tsx
  src/data/testimonials.ts
  tests/integration/server-startup.test.ts
Due: prettier, eslint, typescript

Update clientele page to use real testimonials data
  src/app/clientele/page.tsx
Due: prettier, eslint, typescript

Implement smart logo backgrounds and full testimonials
  src/app/clientele/page.tsx
  src/app/page.tsx
  src/lib/logoUtils.ts
Due: prettier, eslint, typescript

Refine logo display approach - remove unnecessary backgrounds
  src/app/clientele/page.tsx
  src/app/page.tsx
  src/lib/logoUtils.ts
Due: prettier, eslint, typescript

Implement selective logo background strategy
  src/app/clientele/page.tsx
  src/app/page.tsx
  src/lib/logoUtils.ts
Due: prettier, eslint, typescript

Increase logo background opacity for better visibility
  src/lib/logoUtils.ts
Due: prettier, eslint, typescript

Add neon pink backgrounds and debug logging for testing
  src/lib/logoUtils.ts
Due: prettier, eslint, typescript

Add extensive debug logging to getLogoContainerProps
  src/lib/logoUtils.ts
Due: prettier, eslint, typescript

test fixes
  src/app/testimonial/page.tsx
  tests/e2e/clientele.spec.ts
Due: prettier, eslint, typescript

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|json|md|mdx|yaml|yml)$, but not: ^(\.next/|out/|build/|node_modules/|package-lock\.json)
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: ^(\.next/|out/|build/|node_modules/)
  typescript: any of: \.(ts|tsx)$
